@{
    ViewData["Title"] = "Caserito Finder";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <title>Caserito Finder</title>
</head>

<body>
    <header>
        <div class="links">
            <div class="logo-container">
                <img class="logo" src="/img/logo-no-txt.png" alt="Caserito Finder logo">
                <input class="title-bttn" type="button" value="CASERITO FINDER">
            </div>
            <nav>
                <ul>
                    <a href="index.html">INICIO</a>
                    <a asp-action="Acerca">ACERCA</a>
                    <a asp-action="Novedades">NOVEDADES</a>
                    <a asp-action="Mapa">MAPA</a>
                    <a asp-action="Contacto">CONTACTO</a>
                    <a asp-action="Tienda">TIENDATOP</a>
                </ul>
            </nav>
            <input class="sesion-bttn" type="button" value="INICIAR SESIÓN">
        </div>
    </header>

    <div class="main-container">
        <div class="text-container">
            <h3>BIENVENIDO, EMPRENDEDOR</h3>
            <h2>NO PIERDAS LA OPORTUNIDAD DE CRECER</h2>
            <input class="how-bttn" type="button" value="DESCUBRE COMO">
        </div>
        <div class="image-container">
            <img src="/img/idea.png" alt="Foco representativo de la idea">
        </div>
    </div>

    <h3 id="about">Acerca</h3>
    <div class="about-container">
        <span>¿Que es CaseritoFinder?</span>
        <p class="text-about">
            CaseritoFinder es una plataforma que ofrece una busqueda detallada de negocios y tiendas pequeñas que no
            aparecen en GoogleMaps.
        </p>
        <span>¿Cuanto cuesta CaseritoFinder?</span>
        <p class="text-about">Nuestra plataforma es de servicio gratuitos tanto como para los consumidores como para los
            negocios afiliados.</p>
        <span>¿Donde esta disponible CaseritoFinder?</span>
        <p class="text-about">En esta primera version de CaseritoFinder, contamos por el momento con la presencia de un
            solo distrito. La Molina, Lima.</p>
        <span>¿Qué beneficios obtengo con mi cuenta en Caserito Finder?</span>
        <p class="text-about">Con la cuenta podrás administrar los datos mostrados en el mapa y acceso a comentarios en
            el blog.</p>
    </div>

    <h2 id="map-title" class="body-title">Mapa</h2>
    <h3 class="title-desc">¡Encuentra una tienda cercana a ti!</h3>
    <div class="map-container">
        <div class="place-holders">
            <div class="boxes">
                <h2 class="tienda">Tienda "La Margarita"</h2>
                <p class="tienda-desc">
                    Horario de atención: 11:00 - 23:00
                    <br>
                    Direccion: Av. El Ejemplo 135, Urb Gologolo
                <p>
            </div>
            <div class="boxes">
                <h2 class="tienda">Tienda "La Margarita"</h2>
                <p class="tienda-desc">
                    Horario de atención: 11:00 - 23:00
                    <br>
                    Direccion: Av. El Ejemplo 135, Urb Gologolo
                <p>
            </div>
        </div>
        <div id="map"></div>
    </div>

    @* <div id="contacto">
        <div class="text-cont">
        <h3>CONTACTO</h3>
        </div>
        <form>
        <label>Nombre de Negocio</label><br>
        <input type="text" placeholder="Nombre"><br>
        <label>Dueño de Negocio</label><br>
        <input type="text" placeholder="Dueño"><br>
        <label>Direccion</label><br>
        <input type="text" placeholder="Direccion"><br>
        <label>E-mail</label><br>
        <input type="email" placeholder="Correo Electronico"><br>
        <label>Telefono</label><br>
        <input type="number" placeholder="Telefono"><br>
        <label>Horario de Atencion</label><br>
        <label class="tiempo">Desde:</label><br>
        <input type="time"><br>
        <label class="tiempo">Hasta:</label><br>
        <input type="time"><br>
        <input type="submit" value="Enviar" class="submit">
        </form>

        </div> *@
</body>

</html>
<script type="text/javascript" src="estaticos/js/script.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJYJ7Anj2QkICa28HomxBQox5a570H1FE&callback=initMap"></script>